@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  background: #222831
}



.debug-blue {
  border: 2px solid #0000ff
}

.debug-green {
  border: 2px solid #00ff00
}

.debug-red {
  border: 2px solid #ff0000
}


